.header{
    background-color: rgb(58, 55, 55);
    color: bisque;
    padding:10px;
}
*{
    padding: 0;
    margin:0;
}


.img container{
    position: relative;
    max-width:800px;
    width: 100%;
    margin: auto;
}
.img container img{
    width: 100px;
    display: block;
    background-color: rgb(33, 36, 36);
    height: auto;
}
.textbox{
    position: absolute;
    top:400px;
    left:100px;
    background-color: cornsilk;
    color: black;
    border-radius: 5px;
    padding: 10px;
    max-width: 400px;
    width: 90%;
    transform: translate(-50%)
    
   /* position: static;
    width: 90%;
    margin:20px auto;
    padding: 10px;
    text-align: center;*/
}
.textbox h1{
    font-size:1.2rem;
}
.textbox p{
    font-size: 1rem;
}
#one{
   /* text-align: center;
    padding-top: 20px;*/
    width:90%;
    margin: auto;
    
}
.one{
    padding-top: 20px;
}
.main{
    background-color:rgb(33, 36, 36);
    color:aliceblue;
    margin:20px;
    padding-bottom: 20px;
    font-size:larger;
    
}
.main:hover{
    background-color:cornsilk;
    color: black;
}
.footer{
    width:100%;
    background-color:lightsteelblue;
    padding:10px 0;
    color:white;
}
.footer:hover{
    color:black;
    background-color: azure;
}
@media screen and(max-width:768px){
    .imgcontainer{
        width: 100%;
    }
}

